@import "tailwindcss";

:root {
  --primary: #595f39;
  --secondary: #c4c5ba;
  --dark: #1b1b1b;
  --accent: #595f39;
  --accent-dark: #123524;
  --neutral: #e4e4de;
  --success: #17bf63;
  --warning: #ffad1f;
  --error: #e0245e;
}

@theme inline {
  --color-primary: #595f39;
  --color-secondary: #c4c5ba;
  --color-dark: #1b1b1b;
  --color-accent: #595f39;
  --color-neutral: #e4e4de;
  --color-success: #17bf63;
  --color-warning: #ffad1f;
  --color-error: #e0245e;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #595f39;
    --secondary: #c4c5ba;
    --dark: #1b1b1b;
    --accent: #595f39;
    --neutral: #e4e4de;
    --success: #17bf63;
    --warning: #ffad1f;
    --error: #e0245e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

